// Your footer style
#footer {
  background: transparent;
  padding: 10px;
  font-size: 15px;
  color: white;
  font-family: Gotham;
  font-weight: lighter;
  a {
  color: white;
  font-size: 40px;
  padding: 20px;
  &:hover{
  color: #78B9E6;
  }
}
}

